body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    width: 100%; 
    background-color: #fffff5#fffff5;
}

@font-face{
    font-family: 'Waltograph';
    src: url('/Fonte/waltograph/waltographUI.ttf') format('truetype');
}

h1{
    font-family: 'Waltograph';
    font-size: 500%;
    padding-bottom: 0;
    margin: 0;
    color: #fffff5; 
}

p.capaContent{
    font-family: 'Waltograph';
    color: white; 
    position: absolute;
    padding-top: 6%;
}

.titulo{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2%;
}

.capa{
    display: flex;
    background-image: url(/imagens/Capa.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 100vh;
}

.header{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 8%;
    background-color: #010A26;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.sobreMim{
    display: flex;
    justify-content: space-between;
}

.cabecalho{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.portAnteriores{
    display: flex;
    justify-content: space-around;
    width: 5%;
    padding-top: 1%;
    padding-left: 93%;
}

h2, h3{
    color: #1A1C4C;
}

p{
    text-align: justify;
}

.areasTopo{
    display: flex;
    justify-content: space-around;
    width: 35%;
}

a#areas, a.button{
    position: relative;
    color: cornsilk;
    text-decoration: none; 
}
  
a#areas:before, a.button:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: cornsilk;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
  
a#areas:hover:before, a.button:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

img.euCurriculo{
    width: 13%;
}

.curriculo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.subtituloCurriculo{
    width: 42%;
}

#rodapeId{
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 25px;
}

hr{
    height: 2px;
    background-color: #1E2764;
}

h2{
    font-family: Waltograph;
    color:#010A26;
}

.linkRedes{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes{
    padding-left: 2%;
}

p{
    margin: 1%;
}