html, body {
    scroll-behavior: smooth;
    scroll-padding-top: 80px
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f2f6;
  overflow-x: hidden;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-size: 500%;
  padding-bottom: 0;
  margin: 0;
  color: #C8D6F1;
}

p.capaContent {
  color: #C8D6F1;
  position: absolute;
  padding-top: 6%;
}

.titulo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2%;
  user-select: none;
}

.capa {
  display: flex;
  background-image: url(/imagens/Capa.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 100vh;
}

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 6%;
  padding-bottom: 1%;
  background-color: #010A26;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px rgba(85, 85, 85, 0.5);
}

.sobreMim {
  display: flex;
  justify-content: space-between;
}

.container-sobreM {
  height: 100vh;
}

.cabecalho {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.portAnteriores {
  display: flex;
  justify-content: space-around;
  width: 5%;
  padding-left: 93%;
}

h2,
h3 {
  color: #1A1C4C;
  padding-left: 2%;
  padding-top: 1%;
  margin: 0;
  font-family: "Outfit", sans-serif;
  ;
}

p {
  text-align: justify;
  margin: 0;
  padding-left: 2%;
  padding-right: 2%;
}

.areasTopo {
  display: flex;
  justify-content: space-around;
  width: 35%;
  transition: 0.3s ease;
}

a#areas,
a.button {
  position: relative;
  color: #C8D6F1;
  text-decoration: none;
}

a#areas:before,
a.button:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #C8D6F1;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a#areas:hover:before,
a.button:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

img.euCurriculo {
  width: 13%;
}

.curriculo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  height: 78vh;

  h1 {
    color: #010A26;
  }
}

.container-curriculo {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    width: 38%;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
}

.conteudo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 5%;
}

.subtituloCurriculo {
  width: 42%;
}

#rodapeId {
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 25px;
}

hr {
  height: 2px;
  background-color: #1E2764;
  margin: 0;
}

.linkRedes {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.redes {
  padding-left: 2%;
}

p {
  margin: 1%;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

/*CARROSSEL*/

.section {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.checkbox:checked+label,
.checkbox:not(:checked)+label {
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  margin-right: 6px;
  margin-left: 6px;
  width: 50px;
  height: 50px;
  border: 3px solid #bdc3c7;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-image: url('imagens/slide1.png');
  animation: border-transform 6s linear infinite alternate forwards;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  animation-play-state: paused;
}

.checkbox.scnd+label {
  background-image: url('imagens/slide2.png');
}

.checkbox.thrd+label {
  background-image: url('imagens/slide3.png');
}

.checkbox.foth+label {
  background-image: url('imagens/slide4.png');
}

.checkbox:checked+label {
  box-shadow: 0 8px 25px 0 rgba(16, 39, 112, .3);
  transform: scale(1.3);
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
}

.slider-height-padding {
  padding-top: 600px
    /*PADDING DAS IMAGENS MENORES*/
}

ul {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  z-index: 100;
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 500%;
  display: block;
  z-index: 100;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 580px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('imagens/slide1.png');
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 8px 25px 0 rgba(16, 39, 112, .1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

ul li:nth-child(2) {
  background-image: url('imagens/slide2.png');
}

ul li:nth-child(3) {
  background-image: url('imagens/slide3.png');
}

ul li:nth-child(4) {
  background-image: url('imagens/slide4.png');
}

.checkbox.frst:checked~ul li:nth-child(1) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}

.checkbox.scnd:checked~ul li:nth-child(2) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}

.checkbox.thrd:checked~ul li:nth-child(3) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}

.checkbox.foth:checked~ul li:nth-child(4) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}


/*BOTAO AREAS*/
.container-trimestre {
  background-color: #010A26;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  padding-top: 5%;

  h2 {
    color: aliceblue;
  }
}

/* Layout para vários botões */
.container-botao {
  width: 100%;
  height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* espaço entre eles */
  align-items: center;
  justify-content: center;
  background-color: #010A26;
  z-index: 1;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  position: relative;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

/* animação no hover */
.btn:hover {
  background: #C8D6F1;
  transition: 2s;

  span {
    color: #010A26;
  }
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
  position: relative;
  z-index: 2;
}

.imgTrimestre {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  img {
    width: 20%;
    padding: 1%;
  }
}

/* DOWLOAD */

.btn-slide {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 260px;
  margin: 25px 0;
  padding: 0;
  border-radius: 30px;
  background-color: #010A26;
  overflow: hidden;
}

/* Efeito clique */
.btn-slide:active {
  transform: scale(0.96);
}

/* Hover do botão */
.btn-slide:hover {
  background-color: #C8D6F1;
}

.btn-slide:hover span.title {
  color: #010A26;
}

/* A bolinha */
.btn-slide span.circle {
  position: absolute;
  top: 50%;
  left: 10px;
  /* posição inicial */
  transform: translateY(-50%);

  height: 40px;
  width: 40px;

  background: #fff;
  border-radius: 50%;
  transition: .5s;
}

/* Bolinha deslizando */
.btn-slide:hover span.circle {
  left: calc(100% - 50px);
  /* 260px - (40px + 10px) */
}

/* Texto normal */
.btn-slide span.title {
  font-family: 'Nunito Sans';
  position: absolute;
  left: 85px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  letter-spacing: 1px;
  color: #fff;
  transition: .5s;
}

/* Texto hover */
.btn-slide span.title-hover {
  opacity: 0;
  position: absolute;
  left: 85px;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Nunito Sans';
  font-size: 20px;
  transition: .5s;
}

.btn-slide:hover span.title {
  opacity: 0;
}

.btn-slide:hover span.title-hover {
  opacity: 1;
  left: 60px;
}