body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #010A26;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* Cabeçalho */
.capa {
  display: flex;
}

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 6%;
  padding-bottom: 1%;
  background-color: #010A26;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px rgba(85, 85, 85, 0.5);
}

.cabecalho {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.portAnteriores {
  display: flex;
  justify-content: space-around;
  width: 5%;
  padding-top: 1%;
  padding-left: 93%;
}

.areasTopo {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

a#areas,
a.button {
  position: relative;
  color: #C8D6F1;
  text-decoration: none;
}

a#areas:before,
a.button:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #C8D6F1;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a#areas:hover:before,
a.button:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Botao trimestre*/
.navTris {
  text-decoration: none;
  font-size: 100%;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  flex-direction: column;
  justify-items: center;
}

section {
  display: none;
  /*esconde todas as sections */
}

section.ativo {
  display: block;
  /* mostra a seção que estiver visível */
}

#tris1 {
  border: 1px solid rgba(255, 255, 255, 0.192);
  cursor: pointer;
}

#tris2 {
  border: 1px solid rgba(255, 255, 255, 0.192);
  padding: 2%;
  cursor: pointer;
}

#tris3 {
  border: 1px solid rgba(255, 255, 255, 0.192);
  padding: 2%;
  cursor: pointer;
}

.container-botao {
  width: 100%;  
  height: 60vh;
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* espaço entre eles */
  align-items: center;
  justify-content: center;
  position: inherit;
  background-color: #010A26;
  z-index: 1;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  position: relative;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

/* animação no hover */
.btn:hover {
  background: #C8D6F1;
  transition: 2s;
  span {
    color: #010A26;
  }
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
  position: relative;
  z-index: 2;
}

/* Atividades */
.atividades {
  display: flex;
  flex-direction: column;
  /* todas em coluna */
  align-items: center;
  padding-top: 5%;
  margin-top: -300px;
}

.atividade {
  display: flex;
  flex-direction: row;
  /* imagem + texto lado a lado */
  align-items: center;
  background: #C8D6F1;
  border-radius: 12px;
  max-width: 900px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
  padding: 2%;
  margin-bottom: 3%;
  position: relative;
  z-index: 999;
}

.atividade:hover {
  transform: scale(1.02);
}

.atividade img {
  width: 200px;
  border-radius: 8px;
  flex-shrink: 0;
  /* impede a imagem de encolher */
}

.atividade .texto {
  text-align: justify;
  line-height: 1.5;
}

/* Texto geral */
p {
  text-align: justify;
  margin: 0;
  padding: 1%;
}