.slabo-27px-regular {
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: "Slabo 27px", serif;
}

/* Cabeçalho */
.capa{
    display: flex;
    padding-bottom: 5%;
}

.header{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 8%;
    background-color: #010A26;
}

.cabecalho{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.portAnteriores{
    display: flex;
    justify-content: space-around;
    width: 5%;
    padding-top: 1%;
    padding-left: 93%;
}

.areasTopo{
    display: flex;
    justify-content: space-around;
    width: 35%;
}

a#areas, a.button{
    position: relative;
    color: #C8D6F1;
    text-decoration: none; 
}
  
a#areas:before, a.button:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #C8D6F1;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
  
a#areas:hover:before, a.button:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

h1{
    padding-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 20%;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
